/* set de root */
/* root serve para criar variaveis no css */

:root {
    --variable-example:white;

}

/* reset css */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}