/* importando as coisas da pasta global para o style */
@import url('./global.css');

/* usando a variavel global no bg */
body {
    background-color: var(--variable-example);
}


.hero {
    margin-top: 56px;
    background: url(../assets/images/max-novo-streaming.webp);
    background-repeat:no-repeat ;
    background-position: right;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;



}